.nodePositioningWrapper {
    position: relative;
}

.node {
    border: 1px solid #89acf5;
    border-radius: 5px;
    margin: 2px;
}

.nodeDragging {
    color: #87d75d;
}

.nodeChildren {
    padding-left: 2em;
}

.insertTarget {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    height: 1em;
}

.insertBeforeTarget {
    top: -0.5em;
}

.insertAfterTarget {
    bottom: -0.5em;
}

.insertTargetCanDrop {
    display: flex;
}

.insertTargetDropping {
    background-color: #ffc6b1;
}

.insertTargetMarkerDropping {
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #ff0000;
    align-self: center;
}

.collapseLink {
    padding: 2px;
    /*cursor: pointer;*/
}

.collapseLink.expanded {
    transform: rotate(90deg);
}

.nodeDropping {
    background-color: #eecb9e;
}

.selected {
    background-color: #91d3ff;
}

.NodeActions {
    margin-left: 10px;
}

.RenderNode {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 2px;
}

.RenderNodeContainer {
    display: flex;
}

.nodeEditor {
    display: flex;
    font-size: 1.2em;
}

.nodeEditor > input {
    flex: 1;
    background-color: #ffca8e;
}
